<h1 class="p-5 text-center">Info</h1>
<div class="p-5 text-center">
<p>Args: {{info.args}}</p>
<p>OS: {{info.platform}}</p>
<p>CPUs: {{info.numCPUs}}</p>
<p>NodeJS version: {{info.version}}</p>
<p>Mem res: {{info.memoryReserved}} MB</p>
<p>Process ID: {{info.pid}}</p>
<p>Exec Path: {{info.execPath}}</p>
<p>Project Path: {{info.cwd}}</p>

</div>